
/* New rules if the window width is smaller than 1024px */
@media screen and (max-width: 1024px) {

.mobileon {
	display: block;
}

.container { 
	background-color:white;
	width: 100%;
}

.head { 
}
	  
.logoimages {	
	height:120px;
	padding-left:0px;
}

.header h1 {
	width:100%;
	height:45px;
	background:teal;
	margin: 0px;
}

.header h1 a {
	font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;"
	text-decoration: none;
	color:white;
	font-weight: bold;
	font-size:18px;
	text-align:center;
	display: inline-block;
	text-shadow: none;
	padding:0px 10px 0px 10px;
}

.header h1 a:visited {
	color:white;
	text-shadow: none;
}
	  
ul.navigation {
	display: none;
}

ul.navigation li {
	display: none;
}

ul.navigation li.last {
	display: none;
}

ul.navigation li a {
	display: none;
}
	  
ul.navigation li a:hover {
	display: none;
}
	  	  
a {
	display: block;
	color:#7F0000;
	font-weight:normal;
	text-decoration:none;
}

.center {
  margin: auto;
  width: 90%;
  padding: 10px;
  text-align: center-left;
}
	  
.body {
	padding: 20px;
	margin: auto;
	width: 100%;
	background-color:#FFF;  
	clear:both;
}
	 
.body .title {
	font-size:18px;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;"
	font-weight:bold;
}	 
 
.body p {
	color:#000;
	font-size:16px;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;"
	padding:0px;
	margin:0px;
	text-align: center;
	padding:10px 10px 10px 10px;"
}

/* img {
	max-width: 100%;
	height: auto;
	width: 100%;
} */

.images {
	max-width: 100%;
	height: auto;
	width: 95vw;
}

.footer { 
	width: 100%;
}
	  
.footer p {
}

.rslides {
	display: ;
}

.rslides li {
	display: ;
}

.rslides li:first-child {
	display: ;
}

/* Style the navigation menu */
.hamburgernav {
	display: block;
	overflow: hidden;
	background-color: #7F0000;
	position: relative;
}

/* Style navigation menu links */
.hamburgernav a, .hamburgernav a:visited {
	font-weight:normal;
	font-size:14px;
  	color:white;
  	padding: 14px 16px;
  	display: block;
}

.hamburgernav a:hover {
	border-radius: 10px;
	color: #7F0000;
	background: #FFF;
	box-shadow: 0 0 5px #e6e6e6;
	            0 0 5px #e6e6e6;
}


/* Style the hamburger menu */
.hamburgernav a.icon {
	background:darkgrey;
	color:white;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
